.App {
  width: 80%;
  position: relative;
  margin: 0 auto;
}

.downloadbtn {
  background: black;
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  margin: unset;
  position: absolute;
  right: 0;
  top: -32px;

}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  margin-top: 100px;
  width: 100%;

}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}